@font-face {
  font-family: 'iconfont'; /* Project id 4299192 */
  src: url('iconfont.woff2?t=1699441507747') format('woff2'),
    url('iconfont.woff?t=1699441507747') format('woff'),
    url('iconfont.ttf?t=1699441507747') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gangwei:before {
  content: '\e694';
}

.icon-xingming:before {
  content: '\e607';
}

.icon-jishu:before {
  content: '\eb64';
}

.icon-xuexiao:before {
  content: '\e62c';
}

.icon-gongzuo:before {
  content: '\e656';
}

.icon-xiangmu:before {
  content: '\e797';
}

.icon-shouji:before {
  content: '\e600';
}

.icon-shijian:before {
  content: '\e638';
}

.icon-youxiang:before {
  content: '\e631';
}

.icon-xingbie:before {
  content: '\e619';
}

.icon-nianling:before {
  content: '\e69d';
}

.icon-zhiyuandidian2:before {
  content: '\e611';
}
